body {
	font-size: 100%;
	background: #131516;
	padding: 0;
	margin: 0;
	font-size: 130% !important;
	padding: 10px;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.header {
	background: #000;
	color: #fff;
}

.header h1 {
	font-size: 2rem;
	margin-top: 0;
}

.header i {
	font-size: 2rem;
	color: #ffc544;
}

.form {
	margin-bottom: 1em;
}

label {
	display: block;
	color: #333;
	font-weight: bold;
	font-size: 1rem;
}

select {
	width: 100%;
}

textarea {
	width: 95%;
}

em {
	color: #E74C3C;
	font-size: 150%;
	display: block;
	text-align: center;
}

table {
	width: 100%;
	font-size: 100%;
	margin-bottom: 2em;
	margin-top: 1em;
	background: #000;
}

th {
	text-align: left;
	padding: 0.5em;
	color: #515252;
}

tbody td {
	border-top: 6px solid rgba(255,255,255,0.05);
	padding: 0.5em;
	color: #fff;
}

tbody td i {
	color: #ffc544;
}

td.name {
	text-transform: uppercase;
}

.btn-container {
	padding-top: 0.5em;
}

.btn.btn-info {
	background-color: #3498db;
}

.btn.btn-info:hover, .btn.btn-info:focus {
	background-color: #5dade2;
}

.btn.btn-info:active, .btn.btn-info.active {
	background-color: #2383c4;
}

.star-count {
	color: rgba(255,255,255,0.3);
}

.modal {
	width: 300px;
	margin-left: -150px;
}